.wrapper-cards {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    row-gap: 4rem;
    column-gap: 2rem;
    margin: 15rem 0;
    justify-items: center;
}

.card {
    background-color: #d2dae2;
    display: grid;
    justify-items: center;
    width: 18rem;
    height: 25rem;
    padding-top: 2rem;
}

.oldprice {
    text-decoration: line-through;
}

.wrapper-cards p, .wrapper-cards span {
    font-size: 1.6rem;
}

.wrapper-cards h2 {
    font-size: 2.4rem;
}